@{
    ViewBag.Title = "Edit a House";
}
@section CSS{
    <link rel="stylesheet" href="~/CSS/ConfigureHouse.css">
}

@section scripts{
    <partial name="_ValidationScripts" />
    <script defer src="/JS/ConfigureHouse.js"></script>

}

@model ConfigureHouseVM

<form asp-controller="Houses" asp-action="ConfigureHouse">
    <div class="form-container">
        @if (Model.Id == 0)
        {
            <h1>Configure Your House</h1>
        }
        else
        {
            <h1>Edit Your House</h1>
        }

        <div class="Adress">
            <label asp-for="Address"></label>
            <span class="valid-span" asp-validation-for="Address"></span>
            <input asp-for="Address" required />
        </div>

        <div>
            <label asp-for="NumberOfFloors"></label>
            <select asp-for="NumberOfFloors" asp-items="Model.FloorArray">
            </select>
        </div>

        <div class="Color">
            <label asp-for="Color"></label>
            <input asp-for="Color" type="color" />
        </div>

        <div class="container-house-width">
            <label id="house-width-label" for="Width">House Width: @(Model.Width + "m")</label>
            <input type="range" asp-for="Width" id="house-width" min="8" max="36" />
            <span class="valid-span" asp-validation-for="Width"></span>
        </div>

        <fieldset>
            <legend>Type of Roof</legend>
            @for (int index = 0; index < Model.TypeOfRoofsArray.Length; index++)
            {
                if (Model.TypeOfRoof == Model.TypeOfRoofsArray[index] || (Model.Id == 0 && index == 0))
                {
                    <input asp-for="TypeOfRoof" id="@index" type="radio" value="@Model.TypeOfRoofsArray[index]" checked />
                }
                else
                {
                    <input asp-for="TypeOfRoof" id="@index" type="radio" value="@Model.TypeOfRoofsArray[index]" />
                }
                <label for="@index">@Model.TypeOfRoofsArray[index]</label>
                <br />
            }
        </fieldset>

        <fieldset>
            <legend>Building Settings</legend>
            <div class="Checkbox">
                <div>
                    <input type="checkbox" asp-for="HaveBalcony" />
                    <label class="checkbox-label" asp-for="HaveBalcony"> </label>
                </div>
                <div>
                    <input type="checkbox" asp-for="HaveWindow" />
                    <label class="checkbox-label" asp-for="HaveWindow"> </label>
                </div>
                <div>
                    <input type="checkbox" asp-for="HaveDoor" />
                    <label class="checkbox-label" asp-for="HaveDoor"> </label>
                </div>
            </div>
        </fieldset>
                @if (Model.Id == 0)
        {
            <input class="btn" type="submit" value="Build House" />
        }
        else
        {
            <input class="btn" type="submit" value="Edit House" />
        }
    </div>
</form>
