@{
    ViewBag.Title = "Edit a House";
}
@section CSS{
    <link rel="stylesheet" href="~/CSS/Build.css">
}
@section scripts{
    <partial name="_ValidationScripts"/>
}
@model EditHouseVM

<form asp-controller="Houses" asp-action="EditHouse">
    <div class="form-container">
        <h1>Edit Your House</h1>

        <div class="Adress">
            <span class="valid-span" asp-validation-for="Address"></span>
            <label asp-for="Address"></label>
            <input required asp-for="Address" />
        </div>

        <div>
            <label asp-for="NumberOfFloors"></label>
            <select asp-for="NumberOfFloors" asp-items="Model.FloorArray">
            </select>
        </div>

        <div class="Color">
            <label asp-for="Color"></label>
            <input asp-for="Color" name="Color" type="color" />
        </div>

        <fieldset>
            <legend>Type of Roof</legend>
            @for (int index = 0; index < Model.TypeOfRoofsArray.Length; index++)
            {
                if (Model.TypeOfRoof == Model.TypeOfRoofsArray[index])
                {
                    <input asp-for="TypeOfRoof" id="@index" type="radio" value="@Model.TypeOfRoofsArray[index]" checked />
                }
                else
                {
                    <input asp-for="TypeOfRoof" id="@index" type="radio" value="@Model.TypeOfRoofsArray[index]" />
                }
                <label for="@index">@Model.TypeOfRoofsArray[index]</label>
                <br />
            }
        </fieldset>

        <fieldset>
            <legend>Building Settings</legend>
            <div class="Checkbox">
                <div>
                    <input type="checkbox" asp-for="HaveBalcony" />
                    <label class="checkbox-label" asp-for="HaveBalcony"> </label>
                </div>
                <div>
                    <input type="checkbox" asp-for="HaveWindow" />
                    <label class="checkbox-label" asp-for="HaveWindow"> </label>
                </div>
                <div>
                    <input type="checkbox" asp-for="HaveDoor" />
                    <label class="checkbox-label" asp-for="HaveDoor"> </label>
                </div>
            </div>
        </fieldset>
        <input class="btn" type="submit" value="Submit Edit" />
    </div>
</form>
