@{
    ViewBag.Title = "Edit a House";
}
@section CSS{
    <link rel="stylesheet" href="~/CSS/Build.css">
}
@model EditHouseVM




<form asp-controller="Houses" asp-action="EditHouse">
    <div class="form-container">
        <div class="Adress">
            <label asp-for="Address"></label>
            <input asp-for="Address" /> <span class="valid-span" asp-validation-for="Address"></span>
        </div>

        <div>
            <label asp-for="NumberOfFloors"></label>
            <select asp-for="NumberOfFloors" asp-items="Model.FloorArray">
            </select>
        </div>
        <div class="Color">
            <label asp-for="Color"></label>
            <input asp-for="Color" name="Color" type="color" />
        </div>
        <fieldset>
            <legend>Type of Roof</legend>
            @for (int k = 0; k < Model.TypeOfRoofsArray.Length; k++)
            {
                if (Model.TypeOfRoof == Model.TypeOfRoofsArray[k])
                {
                    <input asp-for="TypeOfRoof" id="@k" type="radio" value="@Model.TypeOfRoofsArray[k]" checked />
                }
                else
                {
                    <input asp-for="TypeOfRoof" id="@k" type="radio" value="@Model.TypeOfRoofsArray[k]" />
                }
                <label for="@k">@Model.TypeOfRoofsArray[k]</label>
                <br />
            }
        </fieldset>
        <fieldset>
            <legend>Building Settings</legend>
            <div class="Checkbox">
                <div>
                    <input type="checkbox" asp-for="HaveBalcony" />
                    <label class="checkbox-label" asp-for="HaveBalcony"> </label>
                </div>
                <div>
                    <input type="checkbox" asp-for="HaveWindow" />
                    <label class="checkbox-label" asp-for="HaveWindow"> </label>
                </div>
                <div>
                    <input type="checkbox" asp-for="HaveDoor" />
                    <label class="checkbox-label" asp-for="HaveDoor"> </label>
                </div>
            </div>
        </fieldset>
        <input class="btn" type="submit" value="Submit Edit" />
    </div>
</form>


@section scripts
    {
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

}