@using ZimsCityProject.Views.Houses
@model IndexPartialVM[]

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
<div>
    @Html.AntiForgeryToken()
    <div style="" class="container">
        @foreach (var house in @Model)
        {
            <div data-id="@house.id" onclick="getMenu(@house.id)" class="house draggable" draggable="true">
                <div style="width: @(house.Width + "rem")" data-height="0" id="nav-item-@house.id" class="house-nav">
                    <a id="edit" asp-controller="Houses" asp-action="ConfigureHouse" asp-route-id="@house.id">Edit</a>
                    <a id="delete" onclick="deleteHouse(@house.id)">Delete</a>
                </div>

                @*Roof of the house*@
                <div style="@house.GetRoofStyle()" class="roof">
                    @if (house.HaveBalcony)
                    {
                        <partial name="~/Views/Houses/SVGs/Balcony.cshtml" />
                    }
                </div>

                @*Body of the house*@
                @for (int i = 0; i <= house.NumberOfFloors; i++)
                {
                    <div style="background: @house.Color; width: @(house.Width +"rem")" class="house-window">
                        @if (house.HaveWindow)
                        {
                            var HouseWidthPerWindow = 8;
                            var WindowsCount = house.Width / HouseWidthPerWindow;
                            if (WindowsCount == 0)
                                WindowsCount = 1;

                            for (int j = 0; j < WindowsCount; j++)
                            {
                                <partial name="~/Views/Houses/SVGs/Window.cshtml" />
                            }

                        }
                    </div>
                }

                @*Floor of the house*@
                <div style="background: @house.Color; width: @(house.Width +"rem")" class="house-door">
                    @if (house.HaveDoor)
                    {
                        <partial name="~/Views/Houses/SVGs/Door.cshtml" />
                    }
                </div>

                <div style="background: @house.Color; min-width: 14rem; width: @(house.Width + 2)rem" class="floor"> @house.Address</div>

            </div>
        }
    </div>
</div>

