@using YousifsProject.Views.Houses
@model IndexPartialVM[]

<div>
    <div class="container">
        @foreach (var house in @Model)
        {
            <div data-id="@house.id" onclick="getMenu(@house.id)" class="house draggable" draggable="true">
                <div data-height="0" id="nav-item-@house.id" class="house-nav">
                    <a id="edit" href="/edit/@house.id">Edit   </a>
                    <a id="delete" onclick="deleteHouse(@house.id)">Delete</a>
                </div>

                @*Roof of the house*@
                <div style="@house.GetStyle()" class="roof">
                    @if (house.HaveBalcony)
                    {
                        <partial name="~/Views/Houses/SVGs/Balcony.cshtml" />
                    }
                </div>
                @*Body of the house*@
                @for (int i = 0; i <= house.NumberOfFloors; i++)
                {
                    <div style="background: @house.Color" class="house-window">
                        @if (house.HaveWindow)
                        {
                            <partial name="~/Views/Houses/SVGs/Window.cshtml" />
                        }
                    </div>
                }

                @*Floor of the house*@
                <div style="background: @house.Color" class="house-door">
                    @if (house.HaveDoor)
                    {
                        <partial name="~/Views/Houses/SVGs/Door.cshtml" />
                    }
                </div>

                <div style="background: @house.Color" class="floor"> @house.Address</div>

            </div>
        }
    </div>
</div>

